<h1>Coffee page</h1>

{{! READ table }}
<table>
    <thead>
        <tr>
            {{#each coffees.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each coffees}}
        <tr>
            <td>{{this.coffee_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
            <td>{{this.origin}}</td>
            <td>{{this.roast_level}}</td>
            <td>{{this.flavor_notes}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>