<h1>Coffee page</h1>

<table>
    <thead>
            {{#each coffees.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each coffees}}
        <tr>
            <td>{{this.coffee_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
            <td>{{this.origin}}</td>
            <td>{{this.roast_level}}</td>
            <td>{{this.flavor_notes}}</td>


            {{! DELETE form }}
            <form id='delete_coffee_form'>
                <input type='hidden' name='delete_coffee_id' value='{{this.coffee_id}}' />
                <input type='hidden' name='delete_coffee_name' value='{{this.name}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Add a Coffee</h2>
<form class='cuForm' id='create_coffee_form'>
    <label for='create_coffee_name'>Name: </label>
    <input type='text' name='create_coffee_name' id='create_coffee_name' required />

    <label for='create_coffee_price'>Price: </label>
    <input type='number' step='0.01' name='create_coffee_price' id='create_coffee_price' required />

    <label for='create_coffee_origin'>Origin: </label>
    <input type='text' name='create_coffee_origin' id='create_coffee_origin' />

    <label for='create_coffee_roast'>Roast Level: </label>
    <input type='text' name='create_coffee_roast' id='create_coffee_roast' />

    <label for='create_coffee_notes'>Flavor Notes: </label>
    <textarea name='create_coffee_notes' id='create_coffee_notes'></textarea>

    <input type='submit' />
</form>

{{! UPDATE form }}
<form class='cuForm' id='update_coffee_form'>
    <label for='update_coffee_id'>Coffee to Update: </label>
    <select name='update_coffee_id' id='update_coffee_id' required>
        <option value='' disabled selected>Select a Coffee</option>
        {{#each coffees}}
        <option value='{{this.coffee_id}}' required>
            {{this.coffee_id}} 
            - 
            {{this.name}}
        </option>
        {{/each}}
    </select>

    <label for='update_coffee_name'>Name: </label>
    <input type='text' name='update_coffee_name' id='update_coffee_name' />

    <label for='update_coffee_price'>Price: </label>
    <input type='number'  name='update_coffee_price' id='update_coffee_price' />

    <label for='update_coffee_origin'>Origin: </label>
    <input type='text' name='update_coffee_origin' id='update_coffee_origin' />

    <label for='update_coffee_roast'>Roast Level: </label>
    <input type='text' name='update_coffee_roast' id='update_coffee_roast' />

    <label for='update_coffee_notes'>Flavor Notes: </label>
    <textarea name='update_coffee_notes' id='update_coffee_notes'></textarea>

    <input type='submit' />
</form>