<h1>Orders Line Items</h1>

<table>
    <thead>
        <tr>
            {{#each orders_coffees.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each orders_coffees}}
        <tr>
            <td>{{this.order_id}}</td>
            <td>{{this.customer}}</td>
            <td>{{this.line_item_id}}</td>
            <td>{{this.coffee}}</td>
            <td>{{this.qty}}</td>
            <td>{{this.price_at_order}}</td>

            {{! DELETE form }}
            <form id='delete_orders_coffees_form' method='POST' action='/orders-coffees/delete'>
                <input type='hidden' name='delete_line_item_id' value='{{this.line_item_id}}' />
                 <td><button type='submit'>Delete</button></td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="forms-container">
    <div class="forms-section">
        {{! CREATE form }}
        <h2>Add a Coffee to Order</h2>
        <form class='cuForm' id='create_orders_has_coffees_form' method='POST' action='/orders-coffees/create'>
            <label for='create_order_has_coffees_order_id'>Order: </label>
            <select name='create_order_has_coffees_order_id' id='create_order_has_coffees_order_id' required>
                <option value='' disabled selected>Select an Order</option>
                {{#each orders}}
                    <option value='{{this.order_id}}' required>#{{this.order_id}} - {{this.customer}}</option>
                {{/each}}
            </select>
            <label for='create_orders_has_coffees_coffee_id'>Coffee: </label>
            <select name='create_orders_has_coffees_coffee_id' id='create_orders_has_coffees_coffee_id' required>
                 <option value='' disabled selected>Select a Coffee</option>
                {{#each coffees}}
                <option value='{{this.coffee_id}}'>
                    {{this.name}}
                    -
                    {{this.price}}
                </option>
                {{/each}}
            </select>

            <label for='create_orders_has_coffees_qty'>Quantity: </label>
            <input type='number' name='create_orders_has_coffees_qty' id='create_orders_has_coffees_qty' min="1" />

            <label for='create_orders_has_coffees_price_at_order'>Price of Order: </label>
            <input type='number' step=".01" name='create_orders_has_coffees_price_at_order' id='create_orders_has_coffees_price_at_order' />

            <input type='submit' />
        </form>
    </div>
</div>