<h1>Order page</h1>

<table>
    <thead>
        <tr>
            {{#each orders.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each orders}}
        <tr>
            <td>{{this.order_id}}</td>
            <td>{{this.order_time_date}}</td>
            <td>{{this.[First Name]}}</td>
            <td>{{this.[Last Name]}}</td>



            {{! DELETE form }}
            <form id='delete_orders_form'>
                <input type='hidden' name='delete_order_id' value='{{this.order_id}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="forms-container">
    <div class="form-section">
        {{! CREATE form }}
        <h2>Create an Order</h2>
        <form class='cuForm' id='create_order_form'>
          <label for="create_order_time_date">Order Date and Time: </label>
          <input type="datetime-local" name="create_order_time_date" id="create_order_time_date" required />

            <label for="create_order_customer">Customer: </label>
            <select name="create_order_customer" id="create_order_customer" required>
            <option value="" disabled selected>Select a Customer</option>
            {{#each customers}}
              <option value="{{this.customer_id}}">
                {{this.first_name}} {{this.last_name}}
              </option>
            {{/each}}
          </select>

          <input type="submit" value="Create Order" />
        </form>
    </div>

    <div class="form-section">
        {{! UPDATE form }}
        <h2>Order to Update:</h2>
        <form class='cuForm' id='update_order_form'>
            <label for='update_order_time_date'>Select an Order to Update: </label>
            <select name='update_order_time_date' id='update_order_time_date' required>
                <option value='' disabled selected>Select an Order</option>
                {{#each orders}}
                <option value='{{this.order_time_date}}' required>
                    {{this.order_id}} - {{this.order_time_date}}
                </option>
                {{/each}}
            </select>
            <label for="create_order_time_date">Order Date and Time: </label>
            <input type="datetime-local" name="create_order_time_date" id="create_order_time_date" required />

            <label for="create_order_customer">Customer: </label>
            <select name="create_order_customer" id="create_order_customer" required>
                <option value="" disabled selected>Select a Customer</option>
                {{#each customers}}
                    <option value="{{this.customer_id}}">
                        {{this.first_name}} {{this.last_name}}
                    </option>
                {{/each}}
            </select>

            <input type='submit' />
        </form>
    </div>
</div>