<h1>Payment Methods page</h1>

<table>
    <thead>
        <tr>
            {{#each payment_methods.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each payment_methods}}
        <tr>
            <td>{{this.payment_method_id}}</td>
            <td>{{this.number}}</td>
            <td>{{this.cvv}}</td>
            <td>{{this.cardholder}}</td>
            <td>{{this.expiration}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>